@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 90rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}
.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
  background-color: rgba(63, 63, 63, 0.879);
}
/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}
.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}
.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}
.player--active .current {
  opacity: 1;
}

.current {
  position: relative;
  bottom: 16em;
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-score-hidden {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -10%);
  /* background-color: chartreuse; */
  height: 40px;
  width: 40px;
  font-size: 8rem;
  text-align: center;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}
.current-score {
  font-size: 3.5rem;
}
/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 10px;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}
.btn--new {
  top: 4rem;
}
.btn--rules {
  top: 10rem;
}
.btn--roll {
  bottom: 16rem;
}
.btn--hold {
  bottom: 8rem;
}
.btn--player--0 {
  left: 25%;
}
.btn--player--1 {
  left: 75%;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn:focus {
  outline: none;
}
.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0rem 0rem 0.5rem 0.2rem rgba(0, 0, 0, 0.863);
  border-radius: 10px;
}

.dice-rolling {
  /* transform: ; */
  animation: dice-rotate 1s infinite;
  animation-iteration-count: infinite;
}

@keyframes dice-rotate {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(-720deg);
  }
}

.player--winner {
  background-color: #0ae85fb8;
}
.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}
.hidden {
  display: none;
}
.zasady {
  background-color: #7e3579f3;
  padding: 2rem;
  padding-top: 5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  border-radius: 9px;
  color: white;
  font-size: 2rem;
  z-index: 5;
}
.rulesList {
  padding: 2rem;
}
.rulerItem {
  padding: 7px;
}

.rulseSubList {
  padding-left: 30px;
  line-height: 2em;
}
.zamknij-zasady {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.rules-btn {
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 10px;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.stats-table {
  background-color: rgb(14, 36, 65);
  position: absolute;
  top: 40%;
  left: 0%;
  width: 100%;
  text-align: center;
  font-size: 2em;
}
.stats-naglowek {
  background-color: #9b59b6;
  color: antiquewhite;
  height: 1em;
}

.stats-gracz {
  background-color: #ecf0f1;
  height: 1em;
}

.stats-td {
  padding: 5px;
  height: 30px;
}
.stats-kostka {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
